hello_world/target/
hello_cargo/target/
guessing_game/target/
ch1/hello_cargo/target/
ch2-guessing_game/target/
ch3-variables/target/
ch3-functions/target/
ch4-ownership/target/
ch5-structs/target/
ch5-rectangles/target/
ch6-enums/target/
ch8-collections/target/
ch9-error-handling/target/